@{ ViewData["Title"] = "Home Page"; }
    <div class="row">
        <nav class="navbar navbar-default">
            <p class="navbar-text">Test App</p>
    </nav>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-3">Welcome to the Test</h1>
            <p class="lead">We're going to build a cool application using a MVC framework! This application was built with the Village88
                folks!
            </p>
            <a href="/signin"><button type="button" class="btn btn-primary">Start</button></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h4>Manage Users</h4>
        <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
    </div>
    <div class="col-sm-4">
        <h4>Leave messages</h4>
        <p>Users will be able to leave a message to another user using this application.</p>
    </div>
    <div class="col-sm-4">
        <h4>Edit User Information</h4>
        <p>Admins will be able to edit other user's information (email address, first name, last name, etc).</p>
    </div>
</div>